@model ComplaintMngSys.Models.CommentViewModel.CommentCRUDViewModel

<div class="row">
<div class="col-md-12">
<table class="ItemTranTable">
<tr><th>Id</th><td>@Model.Id</td></tr>
<tr><th>ComplaintId</th><td>@Model.ComplaintId</td></tr>
<tr><th>Message</th><td>@Model.Message</td></tr>
<tr><th>IsDeleted</th><td>@Model.IsDeleted</td></tr>
<tr><th>CreatedDate</th><td>@Model.CreatedDate</td></tr>
<tr><th>ModifiedDate</th><td>@Model.ModifiedDate</td></tr>
<tr><th>CreatedBy</th><td>@Model.CreatedBy</td></tr>
<tr><th>ModifiedBy</th><td>@Model.ModifiedBy</td></tr>
<tr><th>Cancelled</th><td>@Model.Cancelled</td></tr>
</table>
</div>
</div>
