@model ComplaintMngSys.Models.ComplaintViewModel.ComplaintManageViewModel

<div id="printableArea">
    <partial name="~/Views/DownloadReport/_CompanyBanner.cshtml" />
    <hr />
    <table class="" style="width:100%" border="1">
        <tr>
            <th>Id</th>
            <td>@Model.ComplaintGridViewModel.Id</td>
        </tr>
        <tr>
            <th>Code</th>
            <td><span id="ComplaintCode">@Model.ComplaintGridViewModel.Code</span></td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Model.ComplaintGridViewModel.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Model.ComplaintGridViewModel.Description</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Model.ComplaintGridViewModel.CategoryName</td>
        </tr>
        <tr>
            <th>Priority</th>
            <td>@Model.ComplaintGridViewModel.Priority</td>
        </tr>
        <tr>
            <th>Assign To</th>
            <td>@Model.ComplaintGridViewModel.AssignTo</td>
        </tr>
        <tr>
            <th style="background-color:rebeccapurple">Status</th>
            <td>@Model.ComplaintGridViewModel.Status</td>
        </tr>
        <tr>
            <th>Created Date</th>
            <td>@Model.ComplaintGridViewModel.CreatedDate</td>
        </tr>
        <tr>
            <th>Created Date</th>
            <td>@Model.ComplaintGridViewModel.DueDate</td>
        </tr>
        <tr>
            <th>Remarks</th>
            <td>@Model.ComplaintGridViewModel.Remarks</td>
        </tr>
        <tr>
            <th>Complainant</th>
            <td>@Model.ComplaintGridViewModel.Complainant</td>
        </tr>
        <tr>
            <th>Modified Date</th>
            <td>@Model.ComplaintGridViewModel.ModifiedDate</td>
        </tr>
        <tr>
            <th>Created By</th>
            <td>@Model.ComplaintGridViewModel.CreatedBy</td>
        </tr>
        <tr>
            <th>Modified By</th>
            <td>@Model.ComplaintGridViewModel.ModifiedBy</td>
        </tr>
    </table>

    <br />
    <h4>Comment History</h4>
    <hr />
    <table class="" style="width:100%;" border="1">
        <thead>
            <tr>
                <th>Comment</th>
                <th>Comment Id</th>
                <th>Comment By</th>
                <th>Comment Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CommentList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Message)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @String.Format("{0:f}", item.CreatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <h4>Attachment File</h4>
    <hr />
    <table class="" style="width:100%;" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>File Name</th>
                <th>Content Type</th>
                <th>Length</th>
                <th>Date</th>
                <th>Added By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AttachmentFileList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContentType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Length)
                    </td>
                    <td>
                        @String.Format("{0:f}", item.CreatedDate)
                    </td>
                    <td>
                        @String.Format("{0:f}", item.CreatedBy)
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <style>
        table th {
            padding-left: 5px;
        }

        table td {
            padding-left: 5px;
        }
    </style>
</div>