@model ComplaintMngSys.Models.NotificationViewModel.NotificationGridViewModel

<div class="row">
    <div class="col-md-12">
        <table class="ItemTranTable">
            <tr><th>Id</th><td>@Model.Id</td></tr>
            <tr><th>Complaint Id</th><td>@Model.ComplaintId</td></tr>
            <tr><th>Complaint Title</th><td>@Model.ComplaintTitle</td></tr>
            <tr><th>Message</th><td>@Model.Message</td></tr>
            <tr><th>IsRead</th><td>@Model.IsRead</td></tr>
            <tr><th>Notification For</th><td>@Model.NotificationFor</td></tr>
            <tr><th>Created Date</th><td>@Model.CreatedDate</td></tr>
            <tr><th>Modified Date</th><td>@Model.ModifiedDate</td></tr>
            <tr><th>Created By</th><td>@Model.CreatedBy</td></tr>
            <tr><th>Modified By</th><td>@Model.ModifiedBy</td></tr>
            <tr><th>Cancelled</th><td>@Model.Cancelled</td></tr>
        </table>
    </div>
</div>
