@model ComplaintMngSys.Models.CommonViewModel.EmailSettingViewModel
@{
    ViewData["Title"] = "User Role List";
}

<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">

        </div>
        <div class="panel-body scroll panel-height">
            <div class="panel panel-info col-lg-8">
                <div class="panel-heading"><h4><b>SMTP Settings</b></h4></div>
                <br />
                <table class="ItemTranTable" border="1" style=" width:100%;margin:1px auto;">
                    <tr>
                        <th>User Name</th>
                        <td>@Model.SMTPEmailSettingViewModel.UserName</td>
                    </tr>
                    <tr>
                        <th>Host(SMTP)</th>
                        <td>@Model.SMTPEmailSettingViewModel.Host</td>
                    </tr>
                    <tr>
                        <th>Port(SMTP)</th>
                        <td>@Model.SMTPEmailSettingViewModel.Port</td>
                    </tr>
                    <tr>
                        <th>From Email</th>
                        <td>@Model.SMTPEmailSettingViewModel.FromEmail</td>
                    </tr>
                    <tr>
                        <th>From Full Name</th>
                        <td>@Model.SMTPEmailSettingViewModel.FromFullName</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-sm btn-danger" type="button" value="Edit" onclick="SMTPEmailSettingAddEdit(@Model.SMTPEmailSettingViewModel.Id)" /> ||
                            <input class="btn btn-sm btn-danger" type="button" value="Details" onclick="SMTPEmailSettingDetails(@Model.SMTPEmailSettingViewModel.Id)" />
                        </td>
                    </tr>
                </table>
                <div class="col-sm-6">

                </div>
            </div>

            <br />
            <div class="panel panel-info col-lg-8">
                <div class="panel-heading"><h4><b>SendGrid Settings</b></h4></div>
                <br />
                <table class="ItemTranTable" border="1" style=" width:100%;margin:1px auto;">
                    <tr>
                        <th>SendGrid User</th>
                        <td>@Model.SendGridSettingViewModel.SendGridUser</td>
                    </tr>
                    <tr>
                        <th>SendGrid Key</th>
                        <td>@Model.SendGridSettingViewModel.SendGridKey</td>
                    </tr>
                    <tr>
                        <th>From Email</th>
                        <td>@Model.SendGridSettingViewModel.FromEmail</td>
                    </tr>
                    <tr>
                        <th>From Full Name</th>
                        <td>@Model.SendGridSettingViewModel.FromFullName</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-sm btn-danger" type="button" value="Edit" onclick="SendGridSettingAddEdit(@Model.SendGridSettingViewModel.Id)" /> ||
                            <input class="btn btn-sm btn-danger" type="button" value="Details" onclick="SendGridSettingDetails(@Model.SendGridSettingViewModel.Id)" />
                        </td>
                    </tr>
                </table>
                <div class="col-sm-6">

                </div>
            </div>
            <br />
        </div>

        <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
    </div>
</div>

<partial name="~/Views/UIComponents/_MediumModal.cshtml" />
<script src="~/js/CRUD/EmailSetting_CRUD.js"></script>
