@model ComplaintMngSys.Models.UserAccountViewModel.UserProfileCRUDViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="wrapper">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4><b>User Profile</b></h4>
        </div>
        <br />
        <input type="hidden" asp-for="UserProfileId" />
        <input type="hidden" asp-for="ApplicationUserId" />
        <div class="col-lg-10">
            <fieldset>
                <table class="ItemTranTable" border="1" style=" width:100%;margin:1px auto;">
                    <tr>
                        <th>Profile Picture</th>
                        <td>
                            <div class="user-panel mt-2 pb-2 mb-2 d-flex">
                                <div class="image">
                                    <img src="@Model.ProfilePicturePath" class="img-circle elevation-1"
                                        alt="User Image">
                                </div>
                                <div class="info">
                                    <a href="#" class="d-block" onclick=ViewUserImage('@Model.ProfilePicturePath')>
                                        @Model.FirstName @Model.LastName
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>@Model.Country</td>
                    </tr>
                    <tr>
                        <th>Created Date</th>
                        <td>@Model.CreatedDate</td>
                    </tr>
                    <tr>
                        <th>Modified Date</th>
                        <td>@Model.ModifiedDate</td>
                    </tr>
                    <tr>
                        <th>Created By</th>
                        <td>@Model.CreatedBy</td>
                    </tr>
                    <tr>
                        <th>Modified By</th>
                        <td>@Model.ModifiedBy</td>
                    </tr>
                    <tr>
                        <th>Cancelled</th>
                        <td>@Model.Cancelled</td>
                    </tr>
                </table>
                <br />
                <div class="form-group">
                    <button class="btn btn-success" id="EditUserProfile"
                        onclick="EditUserProfile(document.getElementById('UserProfileId').value)">
                        Edit User Profile
                    </button>
                    <button class="btn btn-danger" id="ResetPassword" onclick="ResetPassword()">Reset Password</button>
                </div>
            </fieldset>
        </div>
        <br /><br />
        <div class="col-lg-10">
            <partial name="~/Views/UIComponents/_bootstrapAlert.cshtml" />
        </div>
    </div>
</div>

<script src="~/js/UserProfile/UserProfile_CRUD.js"></script>
